#other_projects_container
  %table.zebra
    %thead
      %tr
        %th Project Name
        %th Total Hours
        %th Amount
        %th Log
    %tbody    
      - @projects.each do |project|
        %tr
          %td= link_to project.title, user_other_project_path(current_user, project)
          %td= project.hours_total
          %td= number_to_currency(project.amount_total, :precision => 2)
          %td= link_to "Log Work", user_other_project_path(current_user, project)