#other_projects_container

  - @projects.each do |project|
    %h2= project.title
    %h3.left Jobs
    .jobs{:id => "jobs_#{project.id}"}
      =render :partial => 'jobs/jobs', :locals => {:project => project}
    = render 'jobs/form', :project => project, :user => current_user

 
