%h1= @project.title

.staff.jobs
  .person
    .person_description
      %strong Description
    .hours_count
      %strong Hours
    .amount
      %strong Money
    .state
      %strong State
    .controls
      %strong Actions
    .clear
  = render :partial => 'jobs/persons_job', :collection => @project.jobs_by(current_user), :as => :job

= render 'jobs/form', :user => current_user, :project => @project
