.person
  .person_name
    %strong Name
  .person_description
    %strong Description
  .hours_count
    %strong Hours
  .amount
    %strong Money
  .state
    %strong Status
  .controls
    %strong Actions
  .clear
=render :partial => 'jobs/projects_job', :collection => project.jobs, :as => :job
