-if request.referer.include? user_other_projects_path(current_user)
  == $e = "#{escape_javascript(render :partial => 'persons_job', :collection => current_user.as_person.jobs_on(@job.project), :as => :job)}";

-elsif request.referer.include? user_projects_path(current_user)  
  == $e = "#{escape_javascript(render :partial => 'projects_job', :collection => (@project.jobs), :as => :job)}";

  =update_project_details(@project)
  =refresh_diagram(@project)

== $ee = "#{escape_javascript(render :partial => '/projects/employees', :locals => { :project => @project })}";

== $('.job.item').remove();
== $('.jobs').append($e)

== $('#manage_employees_container').html($ee);

=clear_fields

$("select").uniform(); 

$('.new_job_form a.hide').trigger('click');