%p
  Hello #{@user.first_name} #{@user.last_name}! You are invited to JeanApp.
  
%p
  Click 
  = link_to "here", user_confirm_invitation_url(@user.invitation_uuid)
  to fill out profile information.
  %br
  Your temporary password: 123456xx.

%p
  Please change it after confirmation on you profile page.