%table#diagram.none
  %caption= project.title
  %thead
    %tr
      %th
      %th Profit
      %th Developers
      %th Expenses
  %tbody
    %tr
      %th
      %td= project.profit
      %td= project.amount_total
      %td= project.project_expenses